a:visited{color:limegreen}
.top{
    margin-top: 20px;
    background: #000000;
    color: #ffffff;
    width: 80%;
    /*height: 50px;*/
    margin-left: 10%;
    border: 1px gainsboro solid;
}

.first{
    float: left;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 20px;
    font-weight: bold;
}
.logo{
     width:30px;
     height: 30px;
    margin-right: 10px;
    /*background: #ffffff;*/

}
.btn1{
    height: 30px;
    width: 10%;
    margin-top: 10px;
    background-color: #000000;
    color:limegreen;
    font-size: 18px;
    font-weight: bold;
    line-height:18px;
    padding-left: 0px;
    font-family:楷体;
    border-right: 1px #dcdcdc solid ;

}
th{
    font-size: 14px;
}
.bottom {
    width: 80%;
    height: 30px;
    margin-left: 10%;
    border: 1px gainsboro solid;
    text-align: center;
    font-size: small;
    line-height: 3px;
    color: darkgray;
    background: #dcdcdc;
    color: green;
    font-weight: bold;
    position: fixed;
    z-index: 999;
    bottom: 0px;
}


.bottomp{
    margin-top:16px;
}
.new{
    width: 80px;
    background: #ffffff;
    color: limegreen;
    margin-top: 5px;
    /*margin-left:12%;*/
}
.tb{
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
}
.ttb{
    margin-top: 25px;
    border:1.5px gray solid;
}
.tt{
    height: 25px;
}
.td{
    width:9%;
    text-align: center;
    border: 2px darkgray solid;
}
.tdq{
    width: 26%;
}
.th{
    height: 30px;
    font-size: 16px;
    background: lightgray;
    /*font-weight: bold;*/
}
.page{
    width: 100%;
    margin-left: 12%;
    text-align: center;
    color: limegreen;
}
.ippage{
    width: 8%;
    height: 20px;
}
.cp,.home,.home1{
    color: limegreen;
    float: left;
}
.home1{
    margin-left: 6%;
}
.cp{
    padding-left: 60px;
}
.font{
    /*color:#2b669a;*/
    padding-left: 20px;
    padding-right: 20px;
}
.div1{
    width: 100%;
    height: 420px;
    border: 1px darkgray solid;
    /*float: right;*/
    margin-top: 120px;
}
.div2{
    width:88%;
    height: 360px;
    border: 1px darkgray solid;
    float: right;
    margin-top: 10px;
}
.tishi{
    font-size: 20px;
    color: darkgray;
    padding-left: 20px;
    margin-top: 20px;
}
.put{
    margin-left: 40%;
    width: 80px;
    margin-top: 5px;
    color: limegreen;
}
.n{
    width: 80%;
    margin-left: 10%;
}
.tdr{
    width: 10%;
    text-align: center;
}
.option{
    width: 10%;
    float: left;
    /*margin-left: 10%;*/
}
.loginbady{
    width: 100%;
    height: 100%;
    background-image: url(image/bg.jpg);
}
.divlogin{
    border: 1px #b9def0 solid;
    width: 380px;
    height: 400px;
    /*text-align: center;*/
    margin-left:60%;
    margin-top: 140px;
    /*background: #ffffff;*/
}
.loginform{
    margin-top: 80px;
    margin-left:10%;
}
.userlogin{
    width: 380px;
    height: 40px;
    border-bottom: 1px #b9def0 solid;
    background: #bce8f1;
    text-align: center;
    font-size: 18px;
    color: grey;
    font-weight: bold;
}
.ulogin{
    padding-top: 10px;
}
.loginuser,.loginpw{
    width:80%;
    margin-left: 10px;
}
.id{
    width: 10%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
.search{
    width: 80px;
    height: 32px;
    color: limegreen;
}
.puts{
    width:60px ;
    height: 32px;
    margin-left: 20%;
    color: limegreen;
}
.userid{
    width: 10%;
    float: left;
    margin-right: 2%;
}
.uputs{
    margin-left: 30%;
    width: 80px;
    margin-top: 5px;
    color: limegreen;
}
.login{
    width:30% ;
    color:limegreen;
}
.btn2{
    width: 10%;
    margin-top: 30px;
    margin-left: 20%;
}
.text{
    color: grey;
    font-family: 楷体;
}
.get{
    color: grey;
    font-family: 楷体;
    font-size: 16px;
    border: 1px #ffffff solid;
}
.per{
    margin-top: 40px;
    margin-left: 20%;
    letter-spacing: 2px;
}
.roleedit1{

    margin-top: 20px;
}
.roleedit2{
    font-size: 20px;
}
.trr{
    /*margin-left: 10%;*/
}