a:link {color:limegreen;}    /* 未被访问的链接 */
a:visited {color:limegreen;} /* 已被访问的链接 */
a:hover {color:limegreen;}   /* 鼠标指针移动到链接上 */
a:active {color:#c0c0c0;}  /* 正在被点击的链接 */
.contain{
    margin-top: 30px;
    /*color: darkgrey;*/
}
.chose{
    margin-left: 20%;
    background:ghostwhite;
    border: 1px solid darkgrey;
}
.accoun{
    width: 34%;
    margin-left:30%;
    border: 1px lightgray solid;
}
.left{
    border: 1px #dcdcdc solid;
    width: 16%;
    height: 300px;
    background: #dcdcdc;
    color: limegreen;
    float: left;
}
.contain{
    width: 80%;
    margin-left: 10%;
}
.leftRM{
    border: 1px #dcdcdc solid;
    width: 16%;
    height: 300px;
    background: #dcdcdc;
    color: limegreen;
    float: left;
}
.pp{
    color: darkgrey;
}
.gl{
    width: 100%;
    border-top: 2px #ffffff solid;
}
.accounttb{
    width:90%;
}
.gll{
    margin-left: 15%;
}
li{
    margin-top: 20px;
    color: limegreen;
}
.li{
    text-decoration:none ;
    color: limegreen;
}
.div2{
    width: 112%;
    height: 400px;
    border: 1px solid #dcdcdc;

}
.divrm{
    width:82%;
    margin-left: 18%;
    height: 400px;
    border: 1px solid #dcdcdc;
}
.div6{
   margin-bottom: 10px;
}
.btnjs{
    margin-left: 60%;
}
.name{
    /*float: left;*/
}

.username{
    width: 120px;
}
.btnjs1{
    float: right;
}
.cjjslj{
    color: grey;
    text-decoration: none;
}
.div3{
    margin-top:5px;
    margin-left: 3%;
    margin-bottom: 5px;
    /*color: limegreen;*/
}
.div5{
    color:limegreen;
}
.div4{
    height: 30px;
    border-top: 1px solid #dcdcdc;
}

.temp{
    font-size: 16px;
    color: limegreen;
}
.nrt{
    background: #dcdcdc;
}
.nr,td{
    text-align: center;
}
.id{
    width: 10%;
    /*float: left;*/
    margin-left: 2%;
    margin-right: 2%;
}


/*//table/*/
.rcreate{
    font-size: 18px;
    margin-left: 20%;
}
.zs{
    border: none;
    margin-left: 178px;
    width: 34px;
    font-size: 18px;
    color: #787878;
    text-align: center;
}